aiohttp==3.8.4
aiosignal==1.3.1
ansible==7.7.0
ansible-core==2.14.8
antlr4-python3-runtime==4.10.1
appdirs==1.4.4
argcomplete==2.0.0
async-timeout==4.0.2
attrs==22.2.0
Babel==2.11.0
bcrypt==3.2.2
Beaker==1.12.1
beautifulsoup4==4.12.2
binwalk==2.3.4
blivet==3.7.1
blivet-gui==2.4.2
Brlapi==0.8.4
Brotli==1.0.9
CacheControl==0.12.11
cachy==0.3.0
certifi==2022.9.24
cffi==1.15.1
cfgv==3.3.1
chardet==5.2.0
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.3
colorlog==6.7.0
contourpy==1.0.7
crashtest==0.4.1
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.33
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
Deprecated==1.2.14
distlib==0.3.6
distro==1.8.0
dulwich==0.21.2
fb-re2==1.0.7
fedora-third-party==0.10
fido2==1.1.1
file-magic==0.4.0
filelock==3.8.2
fonttools==4.39.3
fros==1.1
frozenlist==1.3.3
fs==2.4.16
gmpy2==2.1.5
gpg==1.17.1
gssapi==1.7.3
html5lib==1.1
humanize==3.13.1
identify==2.5.18
idna==3.4
ifaddr==0.1.7
importlib-metadata==6.0.0
jaraco.classes==3.2.3
jeepney==0.8.0
Jinja2==3.0.3
jsonschema==4.17.3
keyring==23.11.0
kiwisolver==1.4.4
koji==1.33.0
langtable==0.0.62
libcomps==0.1.18
libvirt-python==9.0.0
lockfile==0.12.2
lxml==4.9.2
Mako==1.2.3
mapbox-earcut==1.0.1
MarkupSafe==2.1.2
matplotlib==3.7.2
mercurial==6.3.3
more-itertools==8.13.0
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.4
munkres==1.1.2
mutagen==1.46.0
networkx==2.8.8
nftables==0.1
nodeenv==1.7.0
numexpr==2.8.5
numpy==1.24.4
numpy-stl==2.17.1
olefile==0.46
openai==0.27.8
packaging==23.0
Paste==3.5.2
pastel==0.2.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==2.6.0
ply==3.11
podman-compose==1.0.6
poetry==1.3.2
poetry-core==1.4.0
poetry-plugin-export==1.3.0
pre-commit==3.1.1
productmd==1.36
progressbar2==3.53.2
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.16.0
psutil==5.9.5
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.23.0
pyclipper==1.2.0
pycollada==0.7.2
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.17.0
pycups==2.0.1
pycurl==7.45.2
pydot==1.4.2
pyenchant==3.2.2
pygit2==1.12.2
pyglet==1.5.23
PyGObject==3.44.1
pygraphviz==1.10
pykickstart==3.47
pylev==1.3.0
pyOpenSSL==21.0.0
pyparsing==3.0.9
pyparted==3.12.0
PyQt5==5.15.9
PyQt5-sip==12.11.1
PyQt6==6.5.2
PyQt6-sip==13.4.0
pyrsistent==0.19.3
pyscard==2.0.5
pyserial==3.5
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==0.21.1
python-gnupg==0.5.0
python-meh==0.51
python-utils==3.3.3
pythondialog==3.5.3
pytz==2023.3
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
rapidfuzz==2.13.7
readability-lxml==0.8.1
redis==4.3.4
regex==2023.6.3
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-toolbelt==0.10.1
resolvelib==0.5.5
rpm==4.18.1
rpmautospec==0.3.5
Rtree==1.0.0
SciPy==1.10.1
scour==0.38.2
SecretStorage==3.3.3
selinux==3.5
sepolicy==3.5
setools==4.4.2
Shapely==1.8.5.post1
shellingham==1.5.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.5.1
soupsieve==2.4.1
svg.path==4.1
sympy==1.11.1
systemd-python==235
Tempita==0.5.2
tomlkit==0.11.4
tqdm==4.65.0
trimesh==3.23.0
trove-classifiers==2023.2.20
urllib3==1.26.16
validators==0.20.0
virtualenv==20.21.1
webencodings==0.5.1
websockets==10.4
wrapt==1.14.1
xxhash==3.3.0
yarl==1.9.2
youtube-dl==2021.12.17
yt-dlp==2023.7.6
yubikey-manager==5.1.0
zeroconf==0.58.0
zipp==3.12.0
